div.container div.row div{
    line-height: 40px;
}

div.testless-height{
    margin-top: 50px;
}

div.testless-height div.row{
    height: 40px;
}

.bigger-row{
    height: 80px;
}

.nested-row{
    padding: 20px;
    margin: 0px 4px;
}

.bg-green{
    background-color: yellowgreen;
    border: 1px solid #006cfa;
}